.container-ult-reseña {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film-ult {
    width: 1000px;
    height: 679px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #40394A;
    margin: 1rem;
}
.film-ult img {
    width: 100%;;
    height: 449px;   
}
.film-ult:hover img {
    width: 100%;;
    border-radius: 5px;
    filter: saturate(180%);
    cursor: pointer;
}
.film-ult h3 {
    color: #FAF4F4;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.sinopsis {
    color: #FAF4F4;
    font-size: 1.5rem;
    padding: 0.5rem;
}



/*                           TOP 3 RESEÑAS                           */
.top-3 {
    margin: 1rem;
}
#card-puntuacion {
    width: 1000px;
    height: 560px;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}
#card-puntuacion img {
    height: 100%;
}
#card-puntuacion:hover img {
    filter: saturate(180%);
    cursor: pointer;
}

.card-img-overlay {
    background-color: rgba(64, 57, 74, 0.7);
    height: 30%;
    width: 70%;
    border-left: #7ECA9C solid 6px;
    top: 397px;
    right: 50%;
}



@media (max-width: 950px) {
/*      ULT RESEÑA RESPONSIVE      */
.container-ult-reseña {
    margin: 0 auto;
}
.film-ult {
    width: 85%;
    height: 679px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #40394A;
    margin: 1rem;
}
.sinopsis {
    color: #FAF4F4;
    font-size: 1.1rem;
    padding: 0.3rem;
    text-align: center;
}


.film-ult:hover img {
    transform: none;
}


#card-puntuacion {
    width: 85%;
    height: 560px;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

#card-puntuacion:hover img {
    display: none;
}

.card-img-overlay {
    background-color: rgba(64, 57, 74, 0.7);
    height: 30%;
    width: 100%;
    top: 397px;
    right: 50%;
    padding: 0.2rem;
}
.card-title,
.card-text {
    font-size: 1rem;
    margin: auto;
    max-height: 75px;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
}
.p-good,
.p-reg,
.p-bad {
    margin: 3px;
}

}